.btn {
  background: lightgray;
  border: 3px solid black;
  border-radius: 8px;
  list-style: none;
  text-align: center;
  width: fit-content;
  height: fit-content;
  transition: all .5s ease;
}

.btn:hover {
  border: 3px solid lightgreen;
  background-color: lightgreen;
  transform: scale(1.25) perspective(1px)
}

.playbtn {
  position: relative;
  background: url('./assets/play.png');
  background-size: 400px 350px;
  width: 400px;
  height: 350px;
}

@font-face {
  font-family: polyfont;
  src: url('./assets/Polyfont.otf');
}

body {
  text-align: center;
  font-family: polyfont;
}